.verifyResetPasswordCode {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);

    >div {
        width: 26vw;
        padding: 2.5vw 2.5vw 4.9vw 3.385vw;
        background: #fff;

        .cancel {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 0.96vw;
            cursor: pointer;

            img {
                width: 1.458vw;
                height: auto;
            }
        }

        .text {
            padding-right: 0.885vw;

            .title {
                font-size: 22px;
                font-weight: 700;
                line-height: 26.82px;
                color: #3A3A3A;
                margin-bottom: 1.25vw;
            }

            .subText {
                margin-bottom: 2.5vw;
                font-size: 0.9375vw;
                font-weight: 400;
                line-height: 1.134375vw;
                color: #6C6C6C;
                margin-bottom: 2.5vw;
            }
        }

        .code {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.833vw;
            margin-bottom: 2.5vw;

            input {
                border: 1px solid #D2D2D2;
                width: 2.6vw;
                height: 2.6vw;
                border-radius: 0.2vw;
                padding: 0.633vw;
            }
        }

        .button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                padding: 0.78125vw;
                width: 10.4vw;
                margin: auto;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.36px;
                border-radius: 0.52vw;
                background: #E70BBB;
                color: #fff;
            }
        }
    }
}