.profilePage {
    padding: 8vw 0;
    width: 70vw;
    margin: auto;
    
    h3 {
        margin-bottom: 7.5vw;
        font-size: 6.25vw;
        font-weight: 700;
        line-height: 7.5vw;
        letter-spacing: 0.08em;
        color: #000;
    }

    form {
        width: 100%;

        .formGroup {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 5vw;
            padding-left: 1.04vw;

            label {
                font-size: 3.75vw;
                font-weight: 700;
                line-height: 4vw;
                margin-bottom: 2vw;
            }

            .inputComponent {
                width: 100%;
                margin-bottom: 0;
            }
        }

        .information {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5vw;

            h4 {
                font-size: 3.5vw;
                font-weight: 700;
                line-height: 4vw;
                letter-spacing: 0.04em;
                color: #3A3A3A;
            }

            p {
                font-size: 3.5vw;
                font-weight: 700;
                line-height: 4vw;
                letter-spacing: 0.04em;
                text-decoration: underline;
                color: #E70BBB;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 900px) {
    .profilePage {
        padding: 5.2vw 0;
    
        h3 {
            margin-bottom: 5.2vw;
            font-size: 1.67vw;
            line-height: 2.03vw;
        }
    
        form {
            width: 40.4vw;
    
            .formGroup {
                margin-bottom: 3.333vw;
                padding-left: 1.04vw;
                flex-direction: row;
                align-items: center;
    
                label {
                    font-size: 1.1458vw;
                    line-height: 1.39vw;
                margin-bottom: 0;
                }
    
                .inputComponent {
                    width: 29.5vw;
                }
            }
    
            .information {
                margin-bottom: 2.5vw;
    
                h4 {
                    font-size: 1.458vw;
                    line-height: 1.765vw;
                }
    
                p {
                    font-size: 1.04vw;
                    line-height: 1.26vw;
                }
            }
        }
    }
}