.loginPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .login {
        width: 36.458vw;
        padding: 3.4375vw 2.5vw;
        border: 1px solid #D2D2D2;

        h3 {
            font-size: 1.667vw;
            font-weight: 600;
            line-height: 2vw;
            margin-bottom: 3.85vw;
            text-align: center;
        }

        .forgotPass {
            margin-top: -1.09375vw;
            margin-bottom: 1.77vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            a {
                font-family: Inter;
                font-size: 0.9375vw;
                font-weight: 700;
                line-height: 1.134375vw;
                text-align: center;
                color: #0068AA;
            }
        }

        button {
            width: 100%;
            font-family: Inter;
            font-size: 1.04vw;
            font-weight: 700;
            line-height: 1.26vw;
            text-align: center;
            color: #FFFFFF;
            background: #E70BBB;
            padding: 1.04vw;
            border-radius: 0.4167vw;
            margin-bottom: 1.77vw;
        }
    }
}